## Introduction to social data science
#### Pandas
    Series：
<center>A vector/list with labels for each entry.由data,index赋值<center>
<center>和dic的区别：series的indices可以相同,且有序<center>

In [12]:
import pandas as pd
import numpy as np

In [13]:
#设置一个series
L = [1, 1.2, 'abc', True]

my_series = pd.Series(L)
my_series

0       1
1     1.2
2     abc
3    True
dtype: object

In [14]:
#具有自定义索引的series
num_data = range(0,3) # Generate data
indices = ['B', 'C', 'A'] # Generate index names
my_series2 = pd.Series(data=num_data, index=indices) # Create a pandas series from the two
my_series2

B    0
C    1
A    2
dtype: int64

In [15]:
#series转dictionary
my_series.to_dict()

{0: 1, 1: 1.2, 2: 'abc', 3: True}

In [16]:
#dictionary转series
d = {'yesterday': 0, 'today': 1, 'tomorrow':3} # Create some dictionary
my_series3 = pd.Series(d) # Use the constructor
my_series3

yesterday    0
today        1
tomorrow     3
dtype: int64

In [17]:
s = pd.Series(range(3), index=['A','A', 'A']) # Create series with same indices
print(s) # Check duplicates

A    0
A    1
A    2
dtype: int64

    Data Frames:
<center>A vector/list with labels for each entry.由data,index赋值<center>
<center>和dic的区别：series的indices可以相同,且有序<center>

In [18]:
#创建2*2data frame
df = pd.DataFrame(data=[[1,2],[3,4]],
                  columns=['A', 'B'])
df

   A  B
0  1  2
1  3  4

In [19]:
#从dic创建data frame
djan = {'1st': 0, '2nd': 1, '3rd':3} # Create some dictionary for january
dfeb = {'1st': -3, '2nd': -1, '3rd':-2} # Create some dictionary for february
dmar = {'1st': 3, '2nd': 5, '3rd':4} # Create some dictionary for march

d = {'january': djan, 'february': dfeb, 'march': dmar} # Create dictionary of dictionaries
my_df1 = pd.DataFrame(d) # Use the constructor
my_df1

     january  february  march
1st        0        -3      3
2nd        1        -1      5
3rd        3        -2      4

In [21]:
#用astype转换数据格式
print(my_series3)
print()
print(my_series3.astype(float))
print()
print(my_series3.astype(str))

yesterday    0
today        1
tomorrow     3
dtype: int64

yesterday    0.0
today        1.0
tomorrow     3.0
dtype: float64

yesterday    0
today        1
tomorrow     3
dtype: object

In [26]:
#打印头3行，尾3行
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head(3)
#titanic.tail(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [27]:

print(titanic.loc[range(3),['survived', 'age', 'sex']])

   survived   age     sex
0         0  22.0    male
1         1  38.0  female
2         1  26.0  female